/* GLOBAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6fb;
  overflow-x: hidden;
}

/* CENTER USER PAGE */
.userPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* ADMIN PAGE */
.adminPage {
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* CARD BASE */
.tableWrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: block;
  scrollbar-width: thin;
}
.card,
.tableCard {
  background: white;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* USER CARD */
.card {
  width: 300px;
}

/* INPUTS */
input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border-color: #4f46e5;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

/* BUTTONS */
button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #4338ca;
}

/* SECONDARY BUTTON (refresh, logout etc) */
.refreshBtn {
  width: auto;
  padding: 8px 12px;
  margin-bottom: 10px;
  background: #16a34a;
}

.refreshBtn:hover {
  background: #15803d;
}

@media print {
  button {
    display: none;
  }

  body {
    background: white;
  }

  .tableCard {
    box-shadow: none;
  }
}

/* LOGOUT BUTTON */
.logoutBtn {
  width: auto;
  padding: 8px 12px;
  margin-bottom: 10px;
  background: #dc2626;
}

.logoutBtn:hover {
  background: #b91c1c;
}

/* MESSAGE */
.msg {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

/* TABLE */
.tableCard {
  min-width: 70%;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

th {
  background: #f1f1f1;
}

/* LOGIN SMALL TEXT */
.smallText {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  .tableCard {
    min-width: 100%;
    padding: 12px;
  }

  th, td {
    padding: 7px 1px;
    font-size: 12px;
  }
}